<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.smartbetter.wonderful">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <!--读取Log -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--短信权限-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--窗口权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".application.App">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/NoActivityFullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 引导页 -->
        <activity
            android:name=".ui.activity.GuideActivity"
            android:theme="@style/NoActivityFullscreen"
            android:screenOrientation="portrait"/>
        <!-- 主页 android:windowSoftInputMode="adjustPan":避免输入法面板遮挡问题-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <!-- 登录 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/text_login"
            android:screenOrientation="portrait"/>
        <!-- 注册 -->
        <activity
            android:name=".ui.activity.RegisteredActivity"
            android:label="@string/text_registered"
            android:screenOrientation="portrait"/>
        <!-- 找回密码 -->
        <activity
            android:name=".ui.activity.FindPasswordActivity"
            android:label="@string/text_find_password"
            android:screenOrientation="portrait"/>
        <!-- 修改密码 -->
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:label="@string/text_change_password"
            android:screenOrientation="portrait"/>
        <!-- 更多 -->
        <activity
            android:name=".ui.activity.MoreActivity"
            android:label="@string/text_setting"
            android:screenOrientation="portrait"/>
        <!-- 分享新鲜事 -->
        <activity android:name=".ui.activity.ShareActivity"
                  android:label="@string/text_share"
                  android:screenOrientation="portrait"/>
    </application>
</manifest>